[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn
x509_extensions = v3_ca
 
[ dn ]
countryName=US
stateOrProvinceName=NV
localityName=Las Vegas
organizationName=Pharos Production Inc.
organizationalUnitName=Testing Domain
emailAddress=inquiry@pharosproduction.com
commonName = TLS_SERVER

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign

[v3_ca]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:TRUE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
subjectAltName         = @alt_names
issuerAltName          = issuer:copy
 
[alt_names]
DNS.1 = localhost
DNS.2 = demohost.com
IP.1 = 10.0.2.2
IP.2 = 192.168.88.253
IP.3 = 0.0.0.0
IP.4 = 127.0.0.1